In [3]:
import pandas as pd

In [15]:
banks = pd.read_excel('./Data/Schools_Banks.xlsx')
names = pd.read_excel('./Data/Schools_List_OrigNames.xlsx')

In [16]:
banks['Name of School'] = banks['Name of School'].str.upper()
banks['System'] = banks['System'].str.upper()
print(banks.head())

                              System       Name of School      Listed Bank 1  \
0  ALAMANCE BURLINGTON SCHOOL SYSTEM  ABSS MIDDLE COLLEGE  AMERICAN NATIONAL
1  ALAMANCE BURLINGTON SCHOOL SYSTEM     ALEXANDER WILSON  AMERICAN NATIONAL
2  ALAMANCE BURLINGTON SCHOOL SYSTEM   ALTAMAHAW OSSIPPEE  AMERICAN NATIONAL
3  ALAMANCE BURLINGTON SCHOOL SYSTEM              ANDREWS  AMERICAN NATIONAL
4  ALAMANCE BURLINGTON SCHOOL SYSTEM   B. EVERETTE JORDAN  AMERICAN NATIONAL

  Listed Bank 2 Listed Bank 3
0           NaN           NaN
1           NaN           NaN
2           NaN           NaN
3           NaN           NaN
4           NaN           NaN

In [17]:
names['Name of School'] = names['Name of School'].str.upper()
names['System'] = names['System'].str.upper()
print(names.head())

        Name of School                             System
0  ABSS MIDDLE COLLEGE  ALAMANCE BURLINGTON SCHOOL SYSTEM
1     ALEXANDER WILSON  ALAMANCE BURLINGTON SCHOOL SYSTEM
2    ALTAMAHAW OSSIPEE  ALAMANCE BURLINGTON SCHOOL SYSTEM
3              ANDREWS  ALAMANCE BURLINGTON SCHOOL SYSTEM
4    B. EVERETT JORDAN  ALAMANCE BURLINGTON SCHOOL SYSTEM

In [7]:
print(len(banks), len(names))

2426 2430

In [25]:
out = pd.merge(banks, names, how = 'outer', on=['System', 'Name of School'])

In [26]:
out.to_csv('./Data/All_list.csv')

In [43]:
notin = banks.loc[banks['Name of School'].isin(names['Name of School'])]

In [28]:
len(notin)

2167

In [44]:
keep = banks['Name of School'].isin(names['Name of School'])

In [45]:
print(keep)

0        True
1        True
2       False
3        True
4       False
5        True
6       False
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25      False
26       True
27       True
28       True
29       True
        ...
2465     True
2466     True
2467     True
2468     True
2469     True
2470     True
2471     True
2472     True
2473     True
2474     True
2475     True
2476     True
2477     True
2478     True
2479     True
2480     True
2481     True
2482     True
2483     True
2484     True
2485     True
2486     True
2487     True
2488     True
2489     True
2490     True
2491     True
2492     True
2493    False
2494     True
Name: Name of School, Length: 2495, dtype: bool

In [36]:
def switch(x) :
    if x :
        return False
    else:
        return True

In [40]:
keep2 = list(map(lambda x : switch(x), keep))

In [47]:
notin = banks.loc[keep2]

In [48]:
len(notin)

328

In [49]:
notin.to_csv('./Data/Not_in.csv')

In [26]:
print(len(banks['System'].drop_duplicates()), len(names['System'].drop_duplicates()))
for dist in banks['System'].drop_duplicates() :
    if len(banks.loc[banks['System']==dist]) != len(names.loc[names['System']==dist]) :
        #print(banks.loc[banks['System']==dist, 'Name of School'], len(banks.loc[banks['System']==dist]))
        #print(names.loc[names['System']==dist, 'School-Distinct'], len(names.loc[names['System']==dist]))
        print(dist, len(banks.loc[banks['System']==dist]), len(names.loc[names['System']==dist]))

112 114
BUNCOMBE COUNTY SCHOOLS 43 42
CHARLOTTE MECKLENBURG CO. SCHOOLS 174 145
CUMBERLAND COUNTY SCHOOLS 78 85
GUILFORD COUNTY SCHOOLS 123 124
ROWAN COUNTY SALISBURY CITY SCHOOLS 36 37
WASHINGTON COUNTY SCHOOLS 6 7
WAYNE COUNTY PUBLIC SCHOOLS 60 32

In [9]:
A = 'BUNCOMBE COUNTY SCHOOLS'
b = 'CHARLOTTE MECKLENBURG CO. SCHOOLS'
c = 'CUMBERLAND COUNTY SCHOOLS'
d = 'GUILFORD COUNTY SCHOOLS'
e = 'ROWAN COUNTY SALISBURY CITY SCHOOLS'
f = 'WASHINGTON COUNTY SCHOOLS'
g = 'WAYNE COUNTY PUBLIC SCHOOLS'
banks.loc[banks['System'].isin([A,b,c,d,e,f,g]), {'Name of School','System'}].to_csv('./Data/Schools1.csv')
names.loc[names['System'].isin([A,b,c,d,e,f,g]), {'Name of School','System'}].to_csv('./Data/Schools2.csv')

In [19]:
my_list_not = banks.loc[~banks['Name of School'].isin(names['Name of School']), {'Name of School','System'}]
their_list_not = names.loc[~names['Name of School'].isin(banks['Name of School']), {'Name of School','System'}]

In [25]:
#my_list_not.to_csv('./Data/My_pull_notin_ITPull.csv')
their_list_not.to_csv('./Data/IT_Pull_notin_myPull_2.csv')

In [23]:
print(banks.loc[~banks['System'].isin(names['System'])])

Empty DataFrame
Columns: [System, Name of School, Listed Bank 1, Listed Bank 2, Listed Bank 3]
Index: []

In [24]:
print(names.loc[~names['System'].isin(banks['System'])])

                    Name of School                   System
560          ACME DELCO ELEMENTARY  COLUMBUS COUNTY SCHOOLS
561              ACME DELCO MIDDLE  COLUMBUS COUNTY SCHOOLS
562         CERRO GORDO ELEMENTARY  COLUMBUS COUNTY SCHOOLS
563           CHADBOURN ELEMENTARY  COLUMBUS COUNTY SCHOOLS
564               CHADBOURN MIDDLE  COLUMBUS COUNTY SCHOOLS
565             EAST COLUMBUS HIGH  COLUMBUS COUNTY SCHOOLS
566           EVERGREEN ELEMENTARY  COLUMBUS COUNTY SCHOOLS
567            GUIDEWAY ELEMENTARY  COLUMBUS COUNTY SCHOOLS
568   HALLSBORO-ARTESIA ELEMENTARY  COLUMBUS COUNTY SCHOOLS
569              HALLSBORO MIDDLE   COLUMBUS COUNTY SCHOOLS
570                  NAKINA MIDDLE  COLUMBUS COUNTY SCHOOLS
571            OLD DOCK ELEMENTARY  COLUMBUS COUNTY SCHOOLS
572            SOUTH COLUMBUS HIGH  COLUMBUS COUNTY SCHOOLS
573          TABOR CITY ELEMENTARY  COLUMBUS COUNTY SCHOOLS
574              TABOR CITY MIDDLE  COLUMBUS COUNTY SCHOOLS
575             WEST COLUMBUS HIGH  COLUMBUS COUNTY SCHOOLS
576   WILLIAMS TOWNSHIP ELEMENTARY  COLUMBUS COUNTY SCHOOLS
577                CCCA-FAIR BLUFF  COLUMBUS COUNTY SCHOOLS
578                       CCCA-SCC  COLUMBUS COUNTY SCHOOLS
1693        CHALONER MIDDLE SCHOOL           ROANOKE RAPIDS
1694            BELMONT ELEMENTARY           ROANOKE RAPIDS
1695    ROANOKE RAPIDS HIGH SCHOOL           ROANOKE RAPIDS
1696            MANNING ELEMENTARY           ROANOKE RAPIDS
1697                 PLACE TO PLAY           ROANOKE RAPIDS
1698                  CLARA HEARNE           ROANOKE RAPIDS